<!-- alreadyRegistered.ejs -->
<html>
  <head>
    <title>Already Registered</title>
  </head>
  <body>
    <h1>Already Registered</h1>
    <p>The email <%= email %> is already registered.</p>
  </body>
</html>
